{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %} About {% endblock %}

{% block body %}
    <header>
        <h1>About blog</h1>
    </header>
    <article>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, rerum. Sapiente suscipit, quo illum, sequi magni culpa sed saepe perspiciatis minima itaque cupiditate rerum maxime eligendi! Officia quas voluptatum error.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, rerum. Sapiente suscipit, quo illum, sequi magni culpa sed saepe perspiciatis minima itaque cupiditate rerum maxime eligendi! Officia quas voluptatum error.
        </p>
    </article>
{% endblock %}