{%  extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Conatact{% endblock %}

{% block body %}
    <header>
        <h1>Conatact blog</h1>
    </header>

<p>Want to contact blog?</p>
{% endblock %}
